**/__pycache__/
.snakemake/
raw_data/ref_data/*.gz
raw_data/ref_data/*.dict
raw_data/ref_data/*.fa*
raw_data/sample_data/*.gz
results/fastqc/*.html
results/fastqc/*.zip
results/minimap/*.sam
results/picard/*.bam
results/picard/*.bai
results/picard/*.txt
results/multiqc/multiqc_data/
results/multiqc/*.html
results/gatk/*.vcf*